<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bosbec.testapp" version="0.2.5b" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"> <!-- VERSION HERE -->
    <name>Mobile Response App</name>
    <description>
        Mobile Response messaging app
    </description>
    <author email="support@mobileresponse.se" href="http://www.mobileresponse.com">
        Bosbec MobileResponse Team
    </author>
  
    <platform name="ios">
      <icon src="icon.png" />
      
      <icon src="www/res/icon/ios/icon-57.png" width="57" height="57" />
      <icon src="www/res/icon/ios/icon-72.png" width="72" height="72" />
      <icon src="www/res/icon/ios/icon-57-2x.png" width="114" height="114" />
      <icon src="www/res/icon/ios/icon-72-2x.png" width="144" height="144" />

      <splash src="www/res/screen/ios/screen-iphone-portrait.png" width="320" height="480" />
      <splash src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
      <splash src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
      <splash src="www/res/screen/ios/screen-ipad-portrait.png" width="768" height="1024" />
      <splash src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" height="768" />

    </platform>
  
  
  <platform name="android">
    <icon src="icon.png" />

    <icon src="www/res/icon/android/icon-36-ldpi.png" qualifier="ldpi" />
    <icon src="www/res/icon/android/icon-48-mdpi.png" qualifier="mdpi" />
    <icon src="www/res/icon/android/icon-72-hdpi.png" qualifier="hdpi" />
    <icon src="www/res/icon/android/icon-96-xhdpi.png" qualifier="xhdpi" />

    <splash src="www/res/screen/android/screen-ldpi-portrait.png" qualifier="port-ldpi" />
    <splash src="www/res/screen/android/screen-mdpi-portrait.png" qualifier="port-mdpi" />
    <splash src="www/res/screen/android/screen-hdpi-portrait.png" qualifier="port-hdpi" />
    <splash src="www/res/screen/android/screen-xhdpi-portrait.png" qualifier="port-xhdpi" />

  </platform>
  
    <content src="index.html" />
    <!--<plugin name="io.litehelpers.cordova.sqlite" spec="0.7.10" source="pgb" />-->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-app-version" spec="0.1.8" source="npm" />
    <plugin name="cordova-plugin-statusbar" spec="2.1.3" source="npm" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
</widget>
