
    <div class="chat-search">
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Search People">
        </div>
    </div>
        <a class="lv-item" href="">
            <div class="media">
                <div class="pull-left p-relative">
                    <img class="lv-img-sm" ng-src="{{ foundAppUser.avatar || 'img/profile-pics/5.jpg' }}" alt="">
                    <i class="chat-status-busy"></i>
                </div>
                <div class="media-body">
                    <div class="lv-title">{{ foundAppUser.userName }}</div>
                    <small class="lv-small">{{ foundAppUser.emailAddress }}</small>
                </div>
            </div>
        </a>
