<div ng-controller="IntroController" class="modal modal-overlay" ui-if='introModal' ui-shared-state='introModal'>
    <div class="modal-dialog">
        <div class="modal-content">

            

            <div class="modal-body text-center">
                <div ng-show="currentPage<numberOfPages" ng-click="closeIntro();" class="pull-right intro-close"><i class="fa fa-times"></i></div>
                <div class="intro-content">
                    <div ng-show="currentPage==1">
                        <img class="intro-image" src="{{content.image}}"/>
                        <p class="intro-heading">{{content.ingress}}</p>
                        <p>{{content.text}}</p>
                        <p>
                            For more information visit<br/><a href="http://mobileresponse.com">http://mobileresponse.com</a>
                        </p>
                    </div>
                    <div ng-show="currentPage>1 && currentPage<numberOfPages">
                        <img class="intro-screenshot" ng-show="content.image!=''" src="{{content.image}}"/>
                        <p class="intro-heading">{{content.heading}}</p>
                        <p class="intro-ingress">
                            {{content.ingress}}
                        </p>
                    </div>
                    <div ng-show="currentPage==numberOfPages">
                        <img class="intro-image" src="{{content.image}}"/>
                        <p>
                            <button class="btn btn-primary" ng-click="closeIntro();">Let's go!</button>
                        </p>
                    </div>
                </div>

                <div class="intro-footer">
                    <div class="pull-left" ng-show="currentPage>1">
                        <button class="btn btn-primary intro-btn" ng-click="gotoPage(currentPage-1);">Previous</button><br/>
                    </div>
                    <div class="pull-right" ng-show="currentPage<numberOfPages">
                        <button class="btn btn-primary intro-btn" ng-click="gotoPage(currentPage+1);">Next</button><br/>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

