<!DOCTYPE html>
<html ng-app="mrApp">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <!--<meta http-equiv="Content-Security-Policy" content="default-src * gap: ws: https://ssl.gstatic.com;style-src * 'unsafe-inline' * data: blob:;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;img-src 'self' data: content:;">-->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src * gap: ws: https://ssl.gstatic.com;img-src * data: content:;style-src * 'unsafe-inline' data: blob:;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;">-->
    
    <title>Mobile Response Angular App</title>

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>

    <link href="js/mobile-angular-ui/dist/css/mobile-angular-ui-base.css" rel="stylesheet" type="text/css" />
    <!--<link href="js/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="js/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" rel="stylesheet" type="text/css"/>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" type="text/css"/>


</head>
<body ng-controller="MainController" ng-class="{'ios-body': deviceType == 1}">

<div ui-yield-to="modals"></div>

<!-- Sidebars -->
<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
    <h1 class="app-name">
        <a href="#/login"><img src="images/mobile-response-logo.png" class="logo" alt="Mobile Response"/></a>
    </h1>
    <div class="scrollable">
        <div class="scrollable-content" ui-turn-off="mainSidebar">

            <div ng-show="validateLoad('inboxes')" class="list-group" toggle="off" bubble target="mainSidebar">
                <a ng-repeat="inbox in inboxes" class="list-group-item" href="#/conversations/{{ inbox.inboxId }}">
                    <img ng-show="inbox.icon" height="25" alt="inboxIcon" src="{{ inbox.icon }}"/> {{ inbox.inboxDisplayName }} <i class="fa fa-chevron-right pull-right"></i>
                </a>
            </div>
            <div>
                <a class="list-group-item" ng-show="validateLoad('profile')" href="#/settings/{{ myAppUser.id }}"><i class="fa fa-cog"></i> Settings</a>
                <a class="list-group-item" ng-show="validateLoad('profile')" href="#/profile/{{ myAppUser.id }}"><i class="fa fa-user"></i> Profile</a>
                <a class="list-group-item" ng-show="validateLoad('logout')" href="#/logout"><i class="fa fa-sign-out"></i> Logout</a>
            </div>

        </div>
    </div>
</div>

<div class="app" ui-swipe-right='Ui.turnOn("mainSidebar")' ui-swipe-left='Ui.turnOff("mainSidebar")'>

    <!-- Top Navbar -->
    <div class="navbar navbar-app navbar-absolute-top">

        <!--ICON-->
        <div ng-show="validateLoad('inbox')" class="navbar-brand navbar-brand-center" yield-to="title">
            <span><img ng-show="inbox.icon" height="48" alt="inboxIcon" src="{{ inbox.icon }}" /></span><span ng-show="!inbox.icon">{{ inbox.inboxDisplayName }}</span>
        </div>

        <!--BARS-->
        <div class="btn-group pull-left navbar-icongroup">
            <div ui-turn-on="mainSidebar" class="btn btn-navbar sidebar-toggle">
                <i ui-if="!mainSidebar" class="fa fa-2x fa-bars"></i>
                <i ui-if="mainSidebar" class="fa fa-2x fa-arrow-left"></i>
            </div>
        </div>

        <!--ICONS-->
        <div ng-show="validateLoad('inbox')" class="btn-group pull-right navbar-icongroup" yield-to="navbarAction">
            
            <div ng-show="alertLoading" class="btn btn-navbar">
                <i class="fa fa-2x fa-spinner"></i>
            </div>

            <div ng-show="alertNewMessage" class="btn btn-navbar">
                <a href="#/conversations/{{ inbox.inboxId }}"><span><i class="fa fa-2x fa-comment"></i></span></a>
            </div>

            <div ng-show="currentView=='conversation'" class="btn btn-navbar">
                <a href="#/conversations/{{ inbox.inboxId }}" ng-click="hideConversation()"><span><i class="fa fa-2x fa-times-circle"></i></span></a>
            </div>

        </div>

    </div>

    <!-- Bottom Navbar -->
    <div ng-show="currentView!='conversation'" class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified">
            <a ng-show="validateLoad('profile')" href="#/profile/{{ myAppUser.id }}" class="btn btn-navbar btn-icon-only" ng-class="{'navbar-active-item': currentView === 'profile'}"><i class="fa fa-2x fa-user"></i></a>
            <a ng-show="validateLoad('inbox')" href="#/conversations/{{ inbox.inboxId }}" class="btn btn-navbar btn-icon-only" ng-class="{'navbar-active-item': currentView === 'conversations'}"><i class="fa fa-2x fa-inbox"></i></a>
            <a ng-show="validateLoad('inbox')" href="#/newconversation/" class="btn btn-navbar btn-icon-only" ng-class="{'navbar-active-item': currentView === 'newconversation'}"><i class="fa fa-2x fa-pencil"></i></a>
            
        </div>
    </div>


    <!-- App Body -->
    <div class="app-body" ng-view="">

    </div>

</div>

<script src="js/angular/angular.min.js" type="text/javascript"></script>
<script src="js/angular/angular-route.min.js" type="text/javascript"></script>
<script src="js/angular/angular-resource.min.js" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

<script src="js/ng-cordova.js" type="text/javascript"></script>
<script src="js/mobile-angular-ui/dist/js/mobile-angular-ui.min.js" type="text/javascript"></script>

<script src="Scripts/init.js" type="text/javascript"></script>
<script src="Scripts/config.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

<script src="Factories/ApiFactory.js" type="text/javascript"></script>
<script src="Factories/UsersFactory.js" type="text/javascript"></script>
<script src="Factories/ConversationsFactory.js" type="text/javascript"></script>
<script src="Factories/DeviceFactory.js" type="text/javascript"></script>
    
<script src="Controllers/MainController.js" type="text/javascript"></script>
<script src="Controllers/LoginController.js" type="text/javascript"></script>
<script src="Controllers/LogoutController.js" type="text/javascript"></script>
<script src="Controllers/ConversationsController.js" type="text/javascript"></script>
<script src="Controllers/MessagesController.js" type="text/javascript"></script>
<script src="Controllers/ProfileController.js" type="text/javascript"></script>
<script src="Controllers/NewConversationController.js" type="text/javascript"></script>

<script src="cordova.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>

</body>
</html>
