<div class="listview lv-bordered lv-lg" style="padding-bottom: 100px;">
    <div class="lv-body">
        <div class="lvh-search" style="position: relative">
            <input type="text" placeholder="Search..." class="lvhs-input" ng-model="query.text" ng-model-options="{ debounce: 1000}" ng-change="search(query.text)" />
            <i class="lvh-search-close" data-ng-click="clearSearch()">x</i>
        </div>
        <loading></loading>
        <div class="lv-item media" ng-repeat="foundAppUser in foundAppUsers track by foundAppUser.id" ng-class="{'hoverOverride':isPhoneGap}">
            <div class="media-body">
                <img class="lv-img-sm avatar" style="margin-right: -18px; vertical-align: inherit !important" ng-src="{{ foundAppUser.avatar || 'img/profile-pics/5.jpg' }}" alt="">
                <ul style="display: inline-block !important">
                    <h4>{{foundAppUser.displayName}}</h4>
                    <li ng-if="!valueNullOrUndefined(foundAppUser.phoneNumber)">{{foundAppUser.phoneNumber}}</li>
                    <li ng-if="!valueNullOrUndefined(foundAppUser.email)">{{foundAppUser.email}}</li>
                    <div class="btn btn-primary waves-effect" ng-click="addUser(foundAppUser)" style="margin-top: 0.5em">Add</div>
                </ul>
            </div>
        </div>
        <div class="lv-item media" ng-repeat="appUser in appUsers track by appUser.id" ng-class="{'hoverOverride':isPhoneGap}">
            <div class="media-body">
                <img class="lv-img-sm avatar" style="margin-right: -18px; vertical-align: inherit !important" ng-src="{{ appUser.avatar || 'img/profile-pics/5.jpg' }}" alt="">
                <ul style="display: inline-block !important">
                    <h4>{{appUser.displayName}}</h4>
                    <li ng-if="!valueNullOrUndefined(foundAppUser.phoneNumber)">{{appUser.phoneNumber}}</li>
                    <li ng-if="!valueNullOrUndefined(foundAppUser.email)">{{appUser.email}}</li>
                    <div class="btn btn-danger waves-effect" ng-click="removeUser(appUser)">Remove</div>
                </ul>
            </div>
        </div>
    </div>
</div>