<div class="card">
    <div class="card-header">
        <h2>Logging <small>Log system information.</small></h2>
    </div>

    <div class="card-body card-padding">
        <p class="f-500 c-black m-b-5">Logging types</p>
        <small>Select what targets to send log messages to.</small>
        <br>
        <br>
        <br>

        <div class="row m-b-20">
            <div class="col-sm-4 m-b-20">
                <div class="toggle-switch">
                    <label for="ts1" class="ts-label">Browser console</label>
                    <input id="ts1" type="checkbox" hidden="hidden" ng-model="targets.console">
                    <label for="ts1" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-sm-4 m-b-20">
                <div class="toggle-switch">
                    <label for="ts2" class="ts-label">Debug-view</label>
                    <input id="ts2" type="checkbox" hidden="hidden" ng-model="targets.eventView">
                    <label for="ts2" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-sm-4 m-b-20">
                <div class="toggle-switch">
                    <label for="tsd" class="ts-label">Database</label>
                    <input id="tsd" type="checkbox" hidden="hidden" ng-model="targets.database">
                    <label for="tsd" class="ts-helper"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 m-b-20">
            <button class="btn btn-danger waves-effect" ng-click="clearDebugView()">Clear debug-view</button>
        </div>
        <div class="col-sm-4 m-b-20">
            <button class="btn btn-danger waves-effect" ng-click="clearDatabase()">Clear database log</button>
        </div>
    </div>
</div>
<div style="background-color: white; width: 100%; height: 100%;">
    <div ng-repeat="log in capturedLogs | orderBy: logSorting track by $index" style="margin-top: 10px">
        <div style="font-size: 1.5em">{{log.createdOn}} - level:{{log.level}}</div>
        <p>{{log.text}}</p>
        <p>{{log.metadata}}</p>
    </div>
</div>
