<section class="login">
    <!---->
        <div class="container">
            <div class="login-form toggled" id="" >
                <form role="form" class="ng-pristine ng-valid" ng-keyup="$event.keyCode == 13 && login(login)" style="display: inline-block; margin-right: auto;margin-left: auto;text-align: center">

                    <div class="input-group m-b-15">
                        <div class="fg-line">
                            <input type="text" class="form-control inputfield" placeholder="displayname" name="displayname" ng-model="displayName" disabled>
                        </div>
                    </div>

                    <div class="input-group m-b-15">
                        <div class="fg-line">
                            <input type="text" class="form-control inputfield" placeholder="firstname" name="firstname" ng-model="firstName">
                        </div>
                    </div>

                    <div class="input-group m-b-15">
                        <div class="fg-line">
                            <input type="text" class="form-control inputfield" placeholder="lastname" name="lastname" ng-model="lastName">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <ul class="button-list" style="list-style-type: none">
                        <li  class="btn btn-sm btn-primary login-buttons" data-ng-click="save(firstName,lastName)">Save
                        </li>
                        <li style="color:red; margin-left: 10px; margin-top: 15px;">{{message}}</li>
                    </ul>

                </form>
            </div>
            </div>


    </section>