<a ng-click="newMessage()" class="btn btn-login btn-danger btn-float" value="newMsg" style="z-index: 3; position: fixed; bottom:25px; right:25px"><i class="zmdi zmdi-plus"></i></a>
<section id="main">
    <!--  <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>-->

        <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

        <section id="content" data-ng-controller="messagesController as msgCtrl">


            <div class="container" ng-class="{'fadeHide': loading,'fadeShow': !loading }">
                <!-- <div class="block-header" data-ng-include="'template/messages-header.html'"></div> -->
                <!-- Recent Posts -->
                <div ng-if="messageViewMode == 1" class="container" data-ng-include="'template/message-list.html'"></div>
                <div ng-if="messageViewMode == 2" class="container" data-ng-include="'template/message-wall.html'"></div>
                <footer id="footer" data-ng-include="'template/footer.html'"></footer>
            </div>
        </section>
    </section>

