<section class="login">
    <!---->
        <div class="container">
            <img class="login-logo" src="img/logorezise.png">

            <div class="login-form" id="" data-ng-class="{'toggled': loginview }" data-ng-if="loginview">
                <form role="form" class="ng-pristine ng-valid" ng-keyup="$event.keyCode == 13 && login(login)" style="display: inline-block; margin-right: auto;margin-left: auto;text-align: center">
                    <div class="input-group m-b-0">
                        <div class="fg-line">
                            <input type="text" class="form-control inputfield" placeholder="Username" name="username" ng-model="login.username">
                        </div>
                    </div>
                    <div class="input-group m-b-0">
                        <div class="fg-line">
                            <input type="password" class="form-control inputfield" placeholder="Password" name="password" ng-model="login.password">
                        </div>
                    </div>
                    <ul style="list-style-type: none" class="">
                        <li style="color:red; margin-left: 10px;">{{message}}</li>
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="button-list">
                        <li  class="btn btn-sm btn-primary login-buttons waves-effect" data-ng-click="login(login)">Login</li>
                    </ul>
                    <!--<div class="checkbox login-checkbox">
                        <label>
                            <input type="checkbox" value="" ng-model="login.keepLoggedIn">
                            <i class="input-helper"></i>
                            Keep me signed in
                        </label>
                    </div>-->
                </form>
                <div class="login-menu">
                    <ul class="">
                        <li>
                            <a ng-click="showRegister()">Join MobileResponse</a>
                        </li>
                        <li>
                            <a ng-click="showForgot()">Lost your password?</a>
                        </li>

                    </ul>
                </div>
                <div style="position:absolute; right:20px; top:2px" ng-show="version != null"><small style="font-weight: bold">Version</small> <small>{{version}}</small></div>
            </div>

    <!-- Register -->
    <div class="login-form" id="l-register" data-ng-class="{ 'toggled': registerview}" data-ng-if="registerview">
        <form role="form" class="ng-pristine ng-valid" name="createAppUser" ng-keyup="$event.keyCode == 13 && register(register)" style="display: inline-block; margin-right: auto;margin-left: auto;text-align: center">
            <div class="input-group m-b-0">
                <div class="fg-line">
                    <input type="text" class="form-control inputfield" placeholder="Username" ng-model="register.username" username-validator="" required>
                </div>
            </div>
            <div class="input-group m-b-0">
                <div class="fg-line">
                    <input type="password" class="form-control inputfield" placeholder="Password" ng-model="register.password" strong-password="" required>
                </div>
            </div>
            <ul style="list-style-type: none" class="">
                <li style="color:red; margin-left: 10px;">{{message}}</li>
            </ul>
            <ul class="" ng-messages="createAppUser.$error">
                <li ng-message="numberValidator">Password has to contain at least 1 number</li>
                <li ng-message="uppercaseValidator">Password has to contain at least 1 uppercase
                </li>
                <li ng-message="lowercaseValidator">Password has to contain at least 1 lowercase
                </li>
                <li ng-message="eightCharactersValidator">Password has to be at least 8 characters
                    long
                </li>
                <li ng-message="maxlengthCharactersValidator">Password has to be less than 25
                    characters long
                </li>
                <li ng-message="usernameMaxLengthValidator">Username has to be less than 25
                    characters long
                </li>
                <li ng-message="usernameMinLengthValidator">Username has to be at least 8 characters
                    long
                </li>
            </ul>
            <div class="clearfix"></div>
            <ul class="button-list">
                <li  class="btn btn-sm btn-primary login-buttons" data-ng-click="register(register)" ng-disabled="(!createAppUser.$valid) || !register.accept">Register
                </li>
            </ul>
            <div class="checkbox login-checkbox">
                <label>
                    <input type="checkbox" ng-model="register.accept" value="">
                    <i class="input-helper"></i>
                    I agree to the <a target="_blank" href="http://mobileresponse.com/services/mobile-response-core/terms-and-conditions/">terms and conditions</a>
                </label>
            </div>
        </form>
        <div class="login-menu">
            <ul class="">
                <li>
                    <a ng-click="showLogin()" >Login</a>
                </li>
                <li>
                    <a ng-click="showForgot()">Lost your password?</a>
                </li>

            </ul>
        </div>
    </div>


    <!-- Forgot Password -->
    <div class="login-form" id="l-forget-password" data-ng-class="{ 'toggled': forgotview}" data-ng-if="forgotview">

        <form role="form" class="ng-pristine ng-valid" ng-keyup="$event.keyCode == 13 && login(login)" style="display: inline-block; margin-right: auto;margin-left: auto;text-align: center">
            <p class="text-left">Please enter the email associated to your account</p>
            <div class="input-group m-b-0">
                <div class="fg-line">
                    <input type="email" ng-model="forgotten.email" class="form-control inputfield" placeholder="Email Address">
                </div>
            </div>
            <ul style="list-style-type: none" class="">
                <li style="color:red; margin-left: 10px;">{{message}}</li>
            </ul>
            <div class="clearfix"></div>
            <ul class="button-list">
                <li  class="btn btn-sm btn-primary login-buttons" data-ng-click="forgot(forgotten)">request
                </li>
            </ul>
        </form>
        <div class="login-menu">
            <ul class="">
                <li>
                    <a ng-click="showRegister()" >Join MobileResponse</a>
                </li>
                <li>
                    <a ng-click="showLogin()">Login</a>
                </li>

            </ul>
        </div>

    </div>
        </div>

    </section>