<div class="modal-body">
    <div class="wcl-form">
        <div class="wc-comment" >
            <div class="m-b-15">
                <div class="lv-item media" ng-repeat="appUser in selectedUsers">
                    <div class="pull-left">
                        <img class="lv-img-sm" ng-src="{{appUser.avatar}}" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lv-title">{{appUser.userDisplayName}} <ul class="pull-right" ng-click="removeSelectedAppUser(appUser)">
                            <i class="zmdi zmdi-close"></i>
                        </ul>
                        </div>
                        <small class="lv-small">{{appUser.emailAddress}}</small><br>
                        <small class="lv-small">{{appUser.phoneNumber}}</small>
                    </div>
                </div>
                <div class="select">
                    <input type="text" ng-model="selected" uib-typeahead="user as user.userDisplayName for user in users | filter:{userDisplayName:$viewValue}" typeahead-on-select="onSelect($item, $model, $label)" class="form-control m-t-15" placeholder="Search users..">
                </div>
            </div>
            <div class="wcc-inner" >
                <textarea class="wcci-text" ng-model="create.textarea" data-auto-size placeholder="Message.." ng-keyup="$event.keyCode == 13 && createMsg(create.receiver,create.textarea)"></textarea>
            </div>
            <div class="m-t-15">
                <button class="btn btn-sm btn-primary btnCancel" ng-click="sendMessage(create.textarea)">Send</button>
                <button class="btn btn-sm btn-link" data-ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
