<ul class="header-inner clearfix" data-treat-as-child-when-outside="true">
    <li id="menu-trigger" snap-toggle="left">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)">Mobile Response</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i ng-if="messageViewMode == 1" class="tm-icon zmdi zmdi-menu"></i>
                    <i ng-if="messageViewMode == 2" class="tm-icon zmdi zmdi-comment-alt-text"></i>
                    <i ng-if="messageViewMode == 3" class="tm-icon zmdi zmdi-widgets"></i>
                </a>

                <ul class="dropdown-menu dm-icon pull-right">
                    <div class="lv-header">
                        Conversation Layout
                    </div>
                    <li ng-class="{'active' : messageViewMode == 1}">
                        <a id="1" data-ng-click="mactrl.changeMessageView($event)" href=""><i class="zmdi zmdi-menu"></i> List Layout</a>
                    </li>
                    <li ng-class="{'active' : messageViewMode == 2}">
                        <a id="2" data-ng-click="mactrl.changeMessageView($event)" href=""><i class="tm-icon zmdi zmdi-comment-alt-text"></i>Conversation Layout</a>
                    </li>
                    <li ng-class="{'active' : messageViewMode == 3}">
                        <a id="3" data-ng-click="mactrl.changeMessageView($event)" href=""><i class="zmdi zmdi-widgets"></i>Grid Layout</a>
                    </li>
                </ul>
            </li>
            <li class="hidden-xs" data-target="chat" data-toggle-sidebar data-model-right="mactrl.sidebarToggle.right" data-ng-class="{ 'open': mactrl.sidebarToggle.right === true }">
                <a href=""><i class="tm-icon zmdi zmdi-comment-alt-text"></i></a>
            </li>
        </ul>
    </li>
</ul>
