 <div class="profile-menu">
        <a href="" id="toggle-menu">
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                {{username()}}
            </div>
        </a>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Inbox</a>
        </li>
            <li>
                <a data-ui-sref="profile" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> Edit Profile</a>
            </li>
            <li>
                <a data-ui-sref="settings" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
        <li><a data-ui-sref-active="active" data-ui-sref="pages.contacts" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> Contacts</a></li>
        <li>
            <a href="" data-ng-click="mactrl.sidebarStat($event); logoutConfirm()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
        </li>
  <!--      <li class="sub-menu">
            <a href="" toggle-submenu><i class="zmdi zmdi-bug"></i> Debugging</a>
            <ul>
                <li style="cursor: pointer;"><a onClick="localStorage.clear(); console.log('[Debug] localStorage Cleared.');"><i class="zmdi zmdi-delete"></i> Clear localStorage (ALL)</a></li>
                <li style="cursor: pointer;"><a onClick="localStorage.removeItem('userDetails'); console.log('[Debug] userDetails Cleared.');"><i class="zmdi zmdi-delete"></i> Clear tokens</a></li>
                <li style="cursor: pointer;"><a onClick="localStorage.removeItem('messages'); localStorage.removeItem('latestWhatIsNewUpdate'); $root.$broadcast('messages-added'); console.log('[Debug] messages Cleared.');"><i class="zmdi zmdi-delete"></i> Clear messages</a></li>
                <li style="cursor: pointer;"><a onClick="localStorage.removeItem('keepLoggedInCredentials'); console.log('[Debug] keepLoggedInCredentials Cleared.');"><i class="zmdi zmdi-delete"></i> Clear credentials</a></li>
                <li style="cursor: pointer;"><a onClick="window.location.reload(); console.log('[Debug] Reloading page.');"><i class="zmdi zmdi-refresh"></i> Reload Page</a></li>
                <li><hr /></li>
                <li style="cursor: pointer;"><a onClick="alert(localStorage.getItem('deviceId'))"><i class="zmdi zmdi-card-sim"></i> Hardware Id</a></li>
                <li style="cursor: pointer;"><a onClick="alert(JSON.parse(localStorage.getItem('userDetails')).token);"><i class="zmdi zmdi-tag"></i> Auth Token</a></li>
                <li style="cursor: pointer;"><a onClick="alert(JSON.parse(localStorage.getItem('userDetails')).appUserId);"><i class="zmdi zmdi-tag"></i> App User Id</a></li>
                <li style="cursor: pointer;"><a onClick="alert(JSON.parse(localStorage.getItem('userDetails')).administratorId);"><i class="zmdi zmdi-tag"></i> Administrator Id</a></li>
                <li style="cursor: pointer;"><a onClick="alert(localStorage.getItem('pushToken'));"><i class="zmdi zmdi-tag"></i> Pushwoosh Token</a></li>
            </ul>
        </li> -->

    </ul>
