<div ng-controller="MessagesController">
    
    <div ng-show="successText!=null" class="alert alert-success">
        <i class="fa fa-envelope"></i><a href="http://webapp.aws.mobileresponse.se.s3-website-eu-west-1.amazonaws.com/conversations/{{ inbox.inboxId }}">{{ successText }}</a>
    </div>
    <div ng-show="errorText!=null" class="alert alert-danger">{{ errorText }}</div>

    <div class="app-search">
        <form ng-submit="sendMessage(newMessage)">
            <a href="" ng-click="sendMessage(newMessage)" class="btn btn-primary btn-align-right">Send</a>
            <input ng-model="newMessage" class="form-control send-message" placeholder="Compose message" />
        </form>
    </div>   
    
    <div class="scrollable" style="margin-top: 51px; padding-bottom: 81px;">
        <div class="scrollable-content">
            <div class="list-group">
                <div ng-repeat="message in messages" class="list-group-item" ng-class="(!message.isRead) ? 'new-item' : ''">
                    <div class="list-item-attachment">
                        <div ng-repeat="metadata in message.metaData">
                            <a href="{{metadata.url}}" target="_blank" ng-show="metadata._type == 'image'">
                                <img height="50" alt="avatar" src="{{ metadata.thumbnail }}" />
                            </a>
                            <a href="https://www.google.com/maps/preview/@{{metadata.value}}" target="_blank" ng-show="metadata._type == 'position'">
                                <img height="50" alt="avatar" src="https://lh3.googleusercontent.com/MOf9Kxxkj7GvyZlTZOnUzuYv0JAweEhlxJX6gslQvbvlhLK5_bSTK6duxY2xfbBsj43H=w50" />
                            </a>
                        </div>
                    </div>
                    <div class="list-item-avatar">
                        <img ng-repeat="avatar in conversation.avatars" ng-show="avatar.avatar != null && avatar.userId == message.authorId" height="50" alt="avatar" src="{{ avatar.avatar }}" />
                    </div>
                    <div>
                        <b>{{ message.authorDisplayName }}</b><br />
                        {{ message.content }}<br />
                        <span class="smallDateTime">{{ message.createdOn }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>

