.fadeHide {
    opacity: 0;
    -webkit-animation: fadeOut 0.50s; /*Chrome, Safari, Opera*/
    animation: fadeOut 0.50s;
}

.fadeShow {
    opacity: 1;
    -webkit-animation: fadeShow 0.50s; /*Chrome, Safari, Opera*/
    animation: fadeShow 0.50s;
}


/* Fade Hide */
@-webkit-keyframes fadeHide {
    from {
        z-index: 1000;
        opacity: 1;
    }

    to {
        z-index: 0;
        opacity: 0;
    }
}

@-moz-keyframes fadeHide {
    from {
        z-index: 1000;
        opacity: 1;
    }

    to {
        z-index: 0;
        opacity: 0;
    }
}

@-o-keyframes fadeHide {
    from {
        z-index: 1000;
        opacity: 1;
    }

    to {
        z-index: 0;
        opacity: 0;
    }
}

@keyframes fadeHide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Fade Show */
@-webkit-keyframes fadeShow {
    from {
        z-index: 0;
        opacity: 0;
    }

    to {
        z-index: 1000;
        opacity: 1;
    }
}

@-moz-keyframes fadeShow {
    from {
        z-index: 0;
        opacity: 0;
    }

    to {
        z-index: 1000;
        opacity: 1;
    }
}

@-o-keyframes fadeShow {
    from {
        z-index: 0;
        opacity: 0;
    }

    to {
        z-index: 1000;
        opacity: 1;
    }
}

@keyframes fadeShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}